body{
    min-height: 800px;
    background-image: url(issbg.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
background-attachment: fixed;
    align-content: space-evenly;
}

h1{
    color: rgb(255, 251, 244);
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;

}

h2 {
    color: rgb(255, 251, 244);
    font-family:Felix Titling;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(79, 93, 122, 0.404);
    color: aliceblue;
    font-family: Agency FB;
    font-size: 25px;
    cursor: pointer;
}
#game{
    width: 250px;
    height: 70px;
    font-size: 24px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: rgba(7, 26, 41, 0.863);
    font-size: 15pt;
    font-family: Century Gothic;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 2em;
    margin: 0 auto;
    border-radius: 40px;
    color: aliceblue;
}

#box2{
    height: 215px;
    width: 215px;
    font-size: 11.5pt;
    font-family: Century Gothic;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 2em;
    margin: 0 auto;
    border-radius: 40px;
    color: aliceblue;
}

.box:hover{
    transform: scale(1.05);
            z-index: 2;
            box-shadow: 0 0 5px rgb(207, 207, 207),0 0 15px rgb(207, 207, 207),
            0 0 30px rgb(207, 207, 207),0 0 50px rgb(207, 207, 207),0 0 100px rgb(207, 207, 207);
}

button:hover{
    transform: scale(1.05);
            z-index: 3;
            box-shadow: 0 0 5px rgb(189, 236, 250),0 0 15px rgb(77, 208, 248),
            0 0 30px rgb(207, 207, 207),0 0 40px rgb(207, 207, 207),0 0 60px rgb(207, 207, 207);
}

